<!doctype html>
<html>
<head>
  <title>Upgraded electronic badge</title>
  <style type="text/css">
    html, html * { font-family: "Courier New", Courier, monospace; }
    img { max-width: 100%; }
    h1, h2, h3 { text-align: center; }
  </style>
</head>
<body>
<p>This year, our badges are electronic circuit boards that will let you build games and other functionality.</p>

<p>Supporters and super supporters will receive special upgrades for their badges that will enable all sorts of cool new functions.</p>
</body>
</html>
