<!doctype html>
<html>
<head>
  <title>Messenger Bag</title>
  <style type="text/css">
    html, html * { font-family: "Courier New", Courier, monospace; }
    img { max-width: 100%; }
    h1, h2, h3 { text-align: center; }
  </style>
</head>
<body>
<p>With all of the stuff to make, you're going to need something to put it all in.  We've got you covered</p>
<p>We've got a super-strong, super-big messenger bag for you to keep all your projects in, and it's even got our cool logo on it.</p>
</body>
</html>
