<!doctype html>
<html>
<head>
  <title> Event-themed T-shirt </title>
  <style type="text/css">
    html, html * { font-family: "Courier New", Courier, monospace; }
    img { max-width: 100%; }
    h1, h2, h3 { text-align: center; }
  </style>
</head>
<body>

<h3> Event-themed T-shirt </h3>

<p>Some people are adverse to walking around in public with their bare torso uncovered.
If you happen to be one of those people, you may be interested in decorating your body
with a stylish MAGFest t-shirt. Our t-shirts have a reputation for being some of the coolest designs out there.</p>

<p>Availabile in unisex and women's cut.</p>

</body>
</html>
