{% extends "guest_checklist/guest_charity_deadline.html" %}

{% block deadline_text %}
{{ c.EVENT_NAME }} runs a yearly charity raffle. Let us know if you’d like to contribute any signed merchandise!
{% endblock %}
{% block form_desc %}
  {{ c.EVENT_NAME }} hosts a yearly charity raffle, with 100% of proceeds going to
  <a href="http://childsplaycharity.org/" target="_blank">Child's Play</a>.
  Do you have any cool stuff you can sign that you think would make a good
  prize for the raffle? Our attendees love it when
  <em><strong>their heroes</strong></em> sign stuff! If you've got anything
  to donate, please tell us what it is!

  <br/><br/>

  The raffle ends with drawings in the early afternoon on Sunday.
{% endblock %}
