{% extends "guest_checklist/guest_merch_deadline.html" %}

{% block form_desc %}
  <p>
    Space for merchandise sales may be provided at our Rock Island area, where MAGFest Laboratories staff
    sell guest-provided merchandise throughout the festival. Using Rock Island is highly recommended as it enables
    guests to sell merchandise for the duration of the event without requiring them to staff a table.
  </p>
  <p>
    If a guest opts out of Rock Island and would instead prefer to staff their own table in our Marketplace area for
    the duration of the event, a table with chairs and electricity can be provided.
  </p>

  {% if HAS_ROCK_ISLAND %}
    <p>
      It is recommended, but not required, for {{ guest.group_type_label|lower }}s to use our Rock Island service in
      this area, as merchandise can be sold more consistently, and for many more hours.
    </p>
    <p>
      <a href="../static/RockIsland.pdf">
        Click here for more info about our Rock Island service!
      </a>
    </p>
  {% endif %}
{% endblock %}
