{% extends "guests/band_agreement.html" %}

{% block band_text_merch_inner %}
  All performers are entitled to merch table space in the concert hall on the evening of their set. Performers are
  responsible for ensuring their merch tables are staffed during this time. In addition, space for merchandise sales
  may be provided at our Rock Island area, where MAGFest Laboratories staff sell performer-provided merchandise
  throughout the festival. Using Rock Island is highly recommended as it enables performers to sell merchandise for
  the duration of the event without requiring them to staff a table. If a performer opts out of Rock Island and would
  instead prefer to staff their own table in our Marketplace area for the duration of the event, a discounted rate of
  $30 per marketplace table is available.
{% endblock band_text_merch_inner %}
