{% extends "guests/guest_agreement.html" %}

{% block guest_text_merch_inner %}
  <p>
    Space for merchandise sales may be provided at our Rock Island area, where MAGFest Laboratories staff
    sell guest-provided merchandise throughout the festival. Using Rock Island is highly recommended as it enables
    guests to sell merchandise for the duration of the event without requiring them to staff a table.
  </p>
  <p>
    If a guest opts out of Rock Island and would instead prefer to staff their own table in our Marketplace area for
    the duration of the event, a table with chairs and electricity can be provided.
  </p>
{% endblock guest_text_merch_inner %}
