{%- set day1 = c.EPOCH|datetime_local('%A') -%}
{%- set day1_price = c.get_oneday_price(c.EPOCH) -%}
{%- set day2 = c.EPOCH.replace(day=c.EPOCH.day + 1)|datetime_local('%A') -%}
{%- set day2_price = c.get_oneday_price(c.EPOCH.replace(day=c.EPOCH.day + 1)) -%}
{%- set day3 = c.EPOCH.replace(day=c.EPOCH.day + 2)|datetime_local('%A') -%}
{%- set day3_price = c.get_oneday_price(c.EPOCH.replace(day=c.EPOCH.day + 2)) -%}

<p>
  If you are receiving this, you are registered for
  <a href="http://labs.magfest.org">MAGLabs</a>, occurring
  {{ event_dates() }}, {{ c.EVENT_YEAR }}. This FAQ should answer most of your
  questions about the event. You may reach us at contact@magfest.org for any
  questions not covered here.
</p>

<p>
  <b> Will badges be sold at the door?</b>
  <br>
  Yes. Full three-day badges will be available for
  ${{ c.get_attendee_price() }}, and one day badges will
  be available for ${{ day1_price }} for {{ day1 }}, ${{ day2_price }} for
  {{ day2 }}, and ${{ day3_price }} for {{ day3 }}. Children 5 & under are
  free, and children 12 & under receive a half price discount. We do not
  anticipate selling out, so you should have no problem purchasing a badge at
  the event.
</p>

<p>
  <b>Where can I park for the weekend?</b>
  <br>
  The Mark Center has a garage with parking for $15/day with a voucher, which
  you can pick up at Registration. If the Mark Center's garage fills up (which
  we expect it to), the parking attendants will direct you to the nearby lot at
  4900 Seminary Road. Parking there will be around $25 for {{ day1 }}, and $10 for
  {{ day2 }} or {{ day3 }}.
</p>

<p>
  <b>Where do I go when I arrive? How do I pick up my badge?</b>
  <br>
  The first step is to go to the registration desk, located in the Pan Am Foyer
  near the escalators and elevators near the front desk to pick up your badge.
  The registration desk is open from 10 AM—2 AM {{ day1 }} and {{ day2 }}, and
  10 AM—2 PM {{ day3 }}. If you pre-registered, simply show government issued
  photo ID with date of birth such as a driver's license or military ID, to
  the registration staffers. On rare occasions we will accept a photo ID
  without a date of birth such as a high school or college ID. Please note, we
  do reserve the right to refuse these IDs and anyone using a high school photo
  ID will also need to bring a signed
  <a href="https://labs.magfest.org/sites/default/files/MAGLabsParentalConsentForm.pdf">parental consent form</a>,
  which must be notarized if they are not accompanied by a legal guardian
  regardless of age.
</p>

<p>
  <b>Which registration line do I use?</b>
  <br>
  <ul>
    <li>
      Attendees who purchased a standard badge should use the "Preregistration"
      line.
    </li>
    <li>
      Bands, Guests, Panelists, Staff, and Volunteers should use the line that
      lists those categories.
    </li>
    <li>
      If you are not already registered for a badge, register at our At-Door
      Kiosks and then use the "At-Door Registration" line.
    </li>
  </ul>
</p>

<p>
  <b>Where can I pick up swag that I pre-ordered, such as a t-shirt or
  supporter bundle?</b>
  <br>
  After you've picked up your badge, you can pick up your swag at the MAGFest
  merch booth. The merch booth is located at the base of the escalators.
</p>

<p>
  <b>Where can I view a schedule of events?</b>
  <br>
  <i>Use the Guidebook app on a computer or mobile device</i>: Go to the
  <a href="https://guidebook.com/g/maglabs2017/" target="_blank">Guidebook website</a>
  to view the guidebook in your web browser. Make sure to check for Guidebook
  updates periodically through the weekend, as we may make schedule changes.
</p>

<p>
  <b>Can I check if I'm pre-registered?</b>
  <br>
  Use <a href="https://labs2.uber.magfest.org/uber/preregistration/check_if_preregistered">this page</a>
  to check your registration status.
</p>

<p>
  <b>Do you provide refunds or ticket transfers?</b>
  <br>
  We do not provide refunds, but we do allow you to sell or transfer your
  ticket to anyone you wish. E-mail regsupport@magfest.org from the original
  e-mail address you registered with (or provide the original e-mail) along
  with your full name, and we will send you a link to transfer your ticket as
  soon as we can.
</p>

<p>
  <b>Only questions about ticket transfers, ticket confirmations, or general
  registration questions should be e-mailed to the registration desk e-mail
  address. We are unable to respond to any other inquiries.</b>
</p>
