<html>
<head></head>
<body>
<p>
  If you are receiving this, you are registered for
  <a href="http://labs.magfest.org">MAGLabs</a>, occurring
  {{ event_dates() }}, {{ c.EVENT_YEAR }}. This FAQ should answer most of your
  questions about the event. You may reach us at contact@magfest.org for any
  questions not covered here.
</p>

<p>
  <b> Will badges be sold at the door?</b>
  <br>
  Yes. Full three-day badges will be available for $60, and one day badges will
  be available for $25 for Friday, $35 for Saturday, and $15 for Sunday.
  Children 5 & under are free, and children aged between 6 to 12 receive a half
  price discount. We do not anticipate selling out, so you should have no
  problem purchasing a badge at the event.
</p>

<p>
  <b>Where can I park for the weekend?</b>
  <br>
  The Mark Center has a garage with parking for $15/day with a voucher, which
  you can pick up at Registration. If the Mark Center's garage fills up (which
  we expect it to), the parking attendants will direct you to the nearby lot at
  4900 Seminary Road. Parking there will be around $25 for Friday, and $10 for
  Saturday or Sunday.
</p>

<p>
  <b>Where do I go when I arrive? How do I pick up my badge?</b>
  <br>
  The first step is to go to the registration desk, located in the Pan Am Foyer
  near the escalators and elevators near the front desk to pick up your badge.
  The registration desk is open from 10 AM—2 AM Friday and Saturday, and
  10 AM—2 PM Sunday. If you pre-registered, simply show government issued
  photo ID with date of birth such as a driver's license or military ID, to
  the registration staffers. On rare occasions we will accept a photo ID
  without a date of birth such as a high school or college ID. Please note, we
  do reserve the right to refuse these IDs and anyone using a high school photo
  ID will also need to bring a signed
  <a href="https://labs.magfest.org/sites/default/files/MAGLabsParentalConsentForm.pdf">parental consent form</a>,
  which must be notarized if they are not accompanied by a legal guardian
  regardless of age.
</p>

<p>
  <b>Which registration line do I use?</b>
  <br>
  <ul>
    <li>
      Attendees who purchased a standard badge should use the "Preregistration"
      line.
    </li>
    <li>
      Bands, Guests, Panelists, Staff, and Volunteers should use the line that
      lists those categories.
    </li>
    <li>
      If you are not already registered for a badge, register at our At-Door
      Kiosks and then use the "At-Door Registration" line.
    </li>
  </ul>
</p>

<p>
  <b>Where can I pick up swag that I pre-ordered, such as a t-shirt or
  supporter bundle?</b>
  <br>
  After you've picked up your badge, you can pick up your swag at the MAGFest
  merch booth. The merch booth is located near the base of the escalators.
</p>

<p>
  <b>Where can I view a schedule of events?</b>
  <br>
  <i>Use the Guidebook app on a computer or mobile device</i>: Go to the
  <a href=" https://guidebook.com/guide/110639/" target="_blank">Guidebook website</a>
  to view the guidebook in your web browser. Make sure to check for Guidebook
  updates periodically through the weekend, as we may make changes to the
  schedule.
</p>

<p>
  <b>Can I check if I'm pre-registered?</b>
  <br>
  Use <a href="https://labs2.uber.magfest.org/uber/preregistration/check_if_preregistered">this page</a>
  to check your registration status.
</p>

<p>
  <b>Do you provide refunds or badge transfers?</b>
  <br>
  We do not provide refunds, but we do allow you to sell or transfer your badge
  to anyone you wish. E-mail <a href="mailto:regsupport@magfest.org">regsupport@magfest.org</a>
  from the original e-mail address you registered with (or provide the original
  e-mail) along with your full name, and we will send you a link to transfer
  your badge as soon as we can. The badge transfer link is also available in
  the original confirmation email.
</p>

<p>
  <b>Only questions about badge transfers, badge confirmations, or general
  registration questions should be e-mailed to the registration desk e-mail
  address. We are unable to respond to any other inquiries.</b>
</p>
</body>
</html>
